<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Hello from admin page</h3>

<form method="post" enctype="multipart/form-data" action="/admin/upload" target="_blank">
    <fieldset>
        <legend>Image</legend>
        <label for="imgFileInput">Select img file:</label><br>
        <input id="imgFileInput" type="file" name="file"><br>
        <input type="submit">
    </fieldset>
</form>

<form method="post" action="/admin/album" target="_blank">
    <fieldset>
        <legend>Album</legend>
        <label for="albumTitleInput">Enter title name for new collection</label><br>
        <input id="albumTitleInput" type="text" name="title"><br>

        <label for="albumDateInput">Select date, default values - now</label><br>
        <input id="albumDateInput" type="date" name="date"><br>

        <label for="albumDescriptionInput">Enter description text for new collection</label><br>
        <textarea  id="albumDescriptionInput" type="text" name="description" rows="2">
        </textarea> <br>
        <input type="submit">
    </fieldset>
</form>
</body>
</html>